.body{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.logo{
    width: 200px;
    display: flex;
    height: auto;
}

.input-div{
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
    justify-content: center;
    align-items: center;
}

.output-div{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addButton{
    height: 40px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(0, 128, 0);
    border: none;
    color: white;
}

.deleteButton{
    height: 40px;
    width: 80px;
    margin-left: 12px;
    margin-right: 5px;
    background-color: red;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.todo-date-input {
    height: 36px;
    width: 150px;
}

.todo-text-input{
    height: 36px;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

.todo-display{
    height: 40px;
    width: 160px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3px;

}

.date-display{
    height: 40px;
    width: 150px;
    margin-left: 10px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3px;

}


.name-output{
    background-color: aquamarine;
    width: 158px;
    height: auto;
}

button:active{
    opacity: 0.5;
}
